{
  "logLevel": "WARNING",
  "twitch": {
    "clientId": "",
    "clientSecret": "",
    "bot": {
      "name": "",
      "id": ""
    },
    "owner": {
      "name": "",
      "id": ""
    }
  },
  "3tene": {
    "title": "3teneFREE"
  }
}
